:root {
  --black-color: #1a2236;
  --blue-color: #98DEDE;

}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: url("Images/image_geometry_1.png");
  background-repeat: no-repeat;
  position: relative;
}

.mobile-nav {
  display: flex;
  justify-content: flex-end;
  padding-right: 16px;
  padding-top: 19px;
}

.name-tag {
  width: 220px;
  height: 100px;
  margin-top: 104px;
  margin-bottom: 0%;
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
}

.about-tag {
  width: 288px;
  height: 126px;
  margin-top: 20px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
}

.dark-bg {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color: #1a2236;
  width: 288px;
  height: 50px;
  color: #fff;
  line-height: 24px;
  display: inline-block;
  text-align: center;
  margin-top: 40px;
}

.body-display {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
}

.footer-image {
  background-image: url("Images/image_geometry_2.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 160px;
  margin-top: 32px;
}

.about-container {
 display: flex;
 flex-direction: column;
}


h2 {
  font-family: 'Playfair Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1A2236;
  width: 181px;
  height: 50px;
  margin-left: 16px;
  margin-top: 55px;
  margin-bottom: 50px;
}


.blue-bg {
  text-decoration: none;
  display: inline-block;
  background-color: #98DEDE;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 11px;
  font-weight: 400;
  padding: 9px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 5px;
  line-height: 80%;
  color: #1A2236;
}

.project-name {
font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 22px;
line-height: 80%;
color: #ffffff;
height: 16px;
}

.background-card {
  background-color: #1A2236;
  width: 100vw;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding-left: 20px;
  padding-top: 25px;
}

.link {
font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
}

.arrow-link {
  display: flex;
  flex-direction: row;
  gap: 20px;
  border: 2px solid #ffffff;
  padding-bottom: 15px;
  text-decoration: none;
  padding-top: 10px;
  padding-left: 8px;
}

.arrow-icon {
  margin-right: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 390px;
}

