:root {
  --black-color: #1a2236;
  --blue-color: #98dede;
  --deep-blue: #1c528a;
  --pink-color: #e2505c;
  --yellow-color: #febf52;
  --white-color: #fff;
  --ash-color: #f9f9fa;
  --normal-font: "Poppins", "sans-serif";
  --normal-weight: 500;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.get-started,
body {
  background: url("Images/image_geometry_1.png");
  background-repeat: no-repeat;
  position: relative;
}

.mobile-nav {
  display: flex;
  justify-content: flex-end;
  padding-right: 16px;
  padding-top: 19px;
}

.name-tag {
  width: 220px;
  height: 100px;
  margin-top: 80px;
  margin-bottom: 0%;
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
}

.about-tag {
  width: 288px;
  height: 126px;
  margin-top: 20px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
}

.dark-bg,
.dark-bg-cv,
.dark-bg-submit {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color: #1a2236;
  width: 345px;
  height: 51px;
  color: #fff;
  line-height: 24px;
  display: inline-block;
  margin-top: 40px;
  padding-right: 64px;
  padding-left: 53px;
  border-width: 1px;
}

.dark-bg-cv {
  padding-bottom: 6px;
}

.dark-bg-submit {
  margin-top: 10px;
}

.link {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
}

button:hover,
button:active,
.link:hover {
  background-color: #fff;
  color: #1a2236;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
}

.link:hover {
  padding: 5px;
}

button:active,
link:active {
  border-width: 2px;
}

.body-display {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
}

.footer-image {
  background-image: url("Images/image_geometry_2.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 190px;
  margin-top: 32px;
}

.about-container,
.about-card {
  display: flex;
  flex-direction: column;
}

h2 {
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
  width: 181px;
  height: 50px;
  margin-left: 16px;
  margin-top: 55px;
  margin-bottom: 50px;
}

h3,
h4 {
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
  margin-top: 35px;
}

h4 {
  padding-top: 50px;
}

.blue-bg {
  text-decoration: none;
  display: inline-block;
  background-color: #98dede;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 11px;
  font-weight: 400;
  padding: 9px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 5px;
  line-height: 80%;
  color: #1a2236;
}

.project-name {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 80%;
  color: #fff;
  height: 16px;
}

.background-card,
.background-card-footer {
  background-color: #1a2236;
  width: 100%;
  display: flex;
  padding-top: 25px;
  height: 200px;
}

.background-card {
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding-left: 20px;
}

.background-card-footer {
  display: inline-block;
  color: #92dcdc;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  padding-left: 20px;
  padding-top: 50px;
}

.arrow-link {
  display: flex;
  flex-direction: row;
  gap: 20px;
  border: 2px solid #fff;
  padding-bottom: 15px;
  text-decoration: none;
  padding-top: 10px;
  padding-left: 8px;
}

.get-buttton {
  display: inline-flex;
  flex-direction: row;
}

.grid-container {
  display: grid;
  grid-template-columns: 390px;
}

.about-section {
  display: flex;
  flex-direction: column;
  column-gap: 20em;
  padding: 25px;
}

.about-section-tag,
.about-section-tag-start {
  margin-top: 20px;
  width: 288px;
  height: 126px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
}

.about-section-tag-start {
  height: 100px;
}

.down-icon {
  padding-top: 5px;
  padding-left: 20px;
  width: 45px;
}

.languages,
.frameworks,
.skills {
  width: 90%;
  height: 300px;
  margin-left: 20px;
  margin-bottom: 23px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-left: 80px;
  padding-top: 40px;
}

.languages {
  background: url("icons/hash.svg");
  background-color: #1c528a;
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: bottom;
}

.frameworks {
  background: url("icons/rectangles.svg");
  background-color: #e2505c;
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: bottom;
}

.skills {
  background: url("icons/bulb.svg");
  background-color: #febf52;
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: bottom;
}

p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

.list {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.0525em;
  color: #fff;
}

.get-started {
  background-color: #f9f9fa;
  padding-bottom: 86px;
  margin-top: 65px;
}

ul {
  list-style: none;
}

#name,
#email,
textarea {
  width: 340px;
  height: 75px;
  background-color: #fff;
  border: 1px solid #dfdfe0;
  border-radius: 7px;
  margin-bottom: 10px;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 7px;
  padding-left: 10px;
  padding-bottom: 45px;
}

::placeholder {
  width: 200px;
  height: 15px;
  margin-top: 10px;
  padding-top: 10px;
  color: #7d7c84;
}

textarea {
  height: 125px;
  font-size: 15px;
  line-height: 30px;
}

.icons-container {
  display: flex;
  justify-content: space-around;
  margin-top: 35px;
  margin-left: -15px;
}

#footer-icon {
  margin-left: 15px;
  width: 25px;
}

.text-area {
  display: flex;
}

.desktop-nav ul{
display: none;
}

.card-bg-img {
  display: none;
}

.grid-item-x,
.grid-item-xi, .image-geo-3, .final-image2, .final-images {
  display: none;
}


@media (min-width: 768px) {

 body {
  background: none;
 }

 .footer-image {
  display: none;
 }

 .side-image {
  background-image: url("Images/desktop-Img-1.svg"), url("Images/desktop-image_dots-2.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: contain 10%;
  background-position: top right, 40% 73.5%;
  padding-bottom: 35%;
  border: 4px solid brown;
 }    

  .name-tag {
  font-size: 110px;
  width: auto;
  height: auto;
 }

 .about-tag {
  padding-top: 2%;
  width: 30%;
 }

 /* .dark-bg {
  
 }  */

 .mobile-nav img {
  display: none;
 }

 .mobile-nav {
  border: 1px solid var(--white-color);
  box-shadow: 0px 0.5px 0px #DDDFE6;
 
  display: flex;
  justify-content: center;
  background-color: var(--white-color);
  margin: 0%;
  padding: 0%;
 }


 .desktop-nav ul {
  display: flex;
 }

 .desktop-nav li a {
  text-decoration: none;
  font-family: var(--normal-font);
  font-weight: var(--normal-weight);
  color: #1a2236;
  padding: 1rem;
  font-size: 16px;
  display: block;
 }

 .grid-container {
  border: 5px dotted #e2505c;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 190px 350px 350px 350px auto;
  /* overflow-x: hidden;
  overflow-y: auto; */
}

.grid-item0 {
  transform: rotate(-90deg);
  align-self: center;
  grid-column: 1/2;
  grid-row: 1/3;
}
.grid-bg1 {
  background-image: url("Images/image_dots.svg");
  grid-column: 2 /3;
  grid-row: 1/2;
}
.grid-item1 {
grid-column: 3 / 7;
}
.grid-item2 {
  grid-column: span 4 / 7;
}
.grid-item3 {
  grid-column: 1/3;
  grid-row: 3/4;
  padding-top: 11%;
}

.card-bg-img {
  display: grid;
  grid-column: 5 / 7;
  grid-row: 3 / 4;
}
.grid-item4 {
  grid-column: 5/7;
  grid-row: 4/5;
  margin-top: -65%;
  z-index: 1;
}
.grid-item-x {
  display: grid;
  background: url("Images/second-part.svg");
  background-repeat: no-repeat;
  background-position: contain;
  background-size: contain;
  grid-column: 3/5;
  grid-row: 3/4;
}
.grid-item5 {
  grid-column: 1/4;
  grid-row: 4/5;
  margin-top: -6%;
  height: 100vh;
}
.grid-item9 {
  margin-top: -21%;
  grid-column: 5 / 7;
  grid-row: 4 / 5;
}

.image-geo-3 {
  display: grid;
  background-image: url("Images/second-part-2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 25%;
  grid-column: 4 / 7;
  grid-row: 4 / 5;

}
.grid-item6, .grid-item8, .grid-item10 {
  display: none;
}

.body-display {
  border: 5px solid #1c528a;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 70px;
  height: 100vh;
}

.grid-item2 {
  height: 350px;
}

.final-images{
  display: grid;
  background-image: url("Images/final-img.svg");
  background-repeat: no-repeat;
  background-position: top left;
  grid-column: 1 / 3;
  grid-row: 5 / 6;
}
.final-image2 {
  display: grid;
  background-image: url("Images/final-img2.svg");
  background-repeat: no-repeat;
  background-position: top right;
  grid-column: 3/4;
  grid-row: 5/6;
}
.grid-item7 {
  grid-column: 4/6;
  grid-row: 5/6;
 }

 .about-grid-container {
  border: 5px double var(--pink-color);
  display: grid;
  grid-template-columns: 300px 300px;
  grid-column: 1/2;
  margin: 0%;
  margin-top: -65%;
 }
 .languages {
  grid-column: 1/2;
  grid-row: 1/2;
 }
 .frameworks {
  grid-column: 2/3;
  grid-row: 1/2;
 }
 .skills {
  grid-column: 1/2;
  grid-row: 2/3;
 }
 .teal-bg {
  background-image: url("Images/image_dots_with_teal.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  grid-column: 2/3;
  grid-row: 2 / 3;
 }

 .languages,
 .frameworks,
 .skills {
  gap: 0px;
  margin: 0%;
  padding: 0%;
  width: 100%;
 }

 .desktop-about-section {
  border: 5px double var(--pink-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10%;
/* align-items: center; */
 }

  .about-section {
    grid-column: 2/3;
    position: center;
    border: 5px double var(--deep-blue);
    margin-top: 15%;
 }

 /* .get-started {
  background-image: url("Images/footer-top.svg"), url("Images/footer-btm.svg");
  background-position: top left, bottom right;
  align-items: center;
 } */
.get-started {
  display: none;
}
.final-section {
    background-image: url("Images/footer-top.svg"), url("Images/footer-btm.svg");
    background-position: top left, bottom right;
   background-repeat: no-repeat;
   background-color: var(--ash-color);
}
.desktop-4 {
  border: 5px double var(--yellow-color);
  display: flex;
  flex-direction: column;
  width: 680px;
  margin: 0 auto;
  padding-top: 60px;
}
.desktop-text {
color: #1a2236;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
letter-spacing: -0.01em;
text-align: center;
}
.desktop-header {
  font-size: 110px;
  padding: 8%;
  text-align: center;
}
form {
  border: 5px double var(--black-color);
}

 #email
 {
 position: relative;
 left: 600px;

}
#textarea {
  position: relative;
  left: 300px;
}
}


 
