:root {
  --black-color: #1a2236;
  --blue-color: #98dede;
  --deep-blue: #1c528a;
  --pink-color: #e2505c;
  --yellow-color: #febf52;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.get-started,
body {
  background: url("Images/image_geometry_1.png");
  background-repeat: no-repeat;
  position: relative;
}

.mobile-nav {
  display: flex;
  justify-content: flex-end;
  padding-right: 16px;
  padding-top: 19px;
}

.name-tag {
  width: 220px;
  height: 100px;
  margin-top: 80px;
  margin-bottom: 0%;
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
}

.about-tag {
  width: 288px;
  height: 126px;
  margin-top: 20px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
}

.dark-bg,
.dark-bg-cv,
.dark-bg-submit {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color: #1a2236;
  width: 345px;
  height: 51px;
  color: #fff;
  line-height: 24px;
  display: inline-block;
  margin-top: 40px;
  padding-right: 64px;
  padding-left: 53px;
}

.dark-bg-cv {
  padding-bottom: 6px;
}

.dark-bg-submit {
  margin-top: 10px;
}

.body-display {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
}

.footer-image {
  background-image: url("Images/image_geometry_2.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 190px;
  margin-top: 32px;
}

.about-container {
  display: flex;
  flex-direction: column;
}

h2 {
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
  width: 181px;
  height: 50px;
  margin-left: 16px;
  margin-top: 55px;
  margin-bottom: 50px;
}

h3, h4 {
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
  margin-top: 35px;
}

h4 {
  padding-top: 50px;
}

.blue-bg {
  text-decoration: none;
  display: inline-block;
  background-color: #98dede;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 11px;
  font-weight: 400;
  padding: 9px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 5px;
  line-height: 80%;
  color: #1a2236;
}

.project-name {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 80%;
  color: #fff;
  height: 16px;
}

.background-card {
  background-color: #1a2236;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding-left: 20px;
  padding-top: 25px;
}

.link {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
}

.arrow-link {
  display: flex;
  flex-direction: row;
  gap: 20px;
  border: 2px solid #fff;
  padding-bottom: 15px;
  text-decoration: none;
  padding-top: 10px;
  padding-left: 8px;
}

.get-buttton {
  display: inline-flex;
  flex-direction: row;
}

.grid-container {
  display: grid;
  grid-template-columns: 390px;
}

.about-section {
  display: flex;
  flex-direction: column;
  column-gap: 20em;
  padding: 20px;
}

.about-section-tag,
.about-section-tag-start {
  margin-top: 20px;
  width: 288px;
  height: 126px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
}

.about-section-tag-start {
  height: 100px;
}

.down-icon {
  padding-top: 5px;
  padding-left: 20px;
  width: 45px;
}

.languages,
.frameworks,
.skills {
  width: 90%;
  height: 300px;
  margin-left: 20px;
  margin-bottom: 23px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-left: 80px;
  padding-top: 40px;
}

.languages {
  background: url("icons/hash.svg");
  background-color: #1c528a;
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: bottom;
}

.frameworks {
  background: url("icons/rectangles.svg");
  background-color: #e2505c;
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: bottom;
}

.skills {
  background: url("icons/bulb.svg");
  background-color: #febf52;
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: bottom;
}

p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

.list {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.0525em;
  color: #fff;
}


.get-started {
  background-color: #F9F9FA;
}

ul {
  list-style: none;
}

#name,
#email,
textarea {
  width: 340px;
  height: 75px;
  background-color: #FFFFFF;
  border: 1px solid #DFDFE0;
  border-radius: 7px;
  margin-bottom: 10px;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 7px;
  padding-left: 10px;
  padding-bottom: 45px;
}

::placeholder {
width: 200px;
height: 15px;
margin-top: 10px;
padding-top: 10px;
color: #7D7C84;
}

textarea {
  height: 125px;
  font-size: 15px;
  line-height: 30px;
}
